FEED_URL = "https://magyarkozlony.hu/feed"
DB_PATH = 
DOWNLOAD_PATH = 
CERTIFICATE_PATH = 
MSG_SERVER = 
MSG_PORT = 
SINCE_DATE=2025-07-30
# Email címek vesszővel elválasztva
EMAIL_TO=
EMAIL_CC=
EMAIL_BCC=
